h1{
    color:blue;
    font: size 13px;
}
h2{
    color:gray;
    font-size: 10px;
}
h3{
    color:yellowgreen;
    font-size 7px;
}
p{
    color:tomato;
font-size: large;}
a{color:steelblue;
font-size: 12px;}
a:hover{
    color:brown;
    font-size: 7px;
}
a:active{
    color:red
}